.app {
  display: flex;
  margin: 0;
  padding: 40px 40px 40px 240px;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.menu {
  display: flex;
  position: fixed;
  top: 40px;
  left: 0;
  width: 240px;
  padding: 0;
  margin-right: 12px;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 24px;
  color: #48538b;
  border-bottom: 1px solid #e3e2e1;
  border-top: 1px solid #e3e2e1;
}

.menu__list-item {
  text-decoration: none;
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 500;
}

.menu__link {
  color: #48538b;
  text-decoration: none;
  text-align: center;
}

.menu__link:hover {
  color: #3f218b;
}

.menu__link_active {
  color: #e4003c;
  font-weight: 700;
}

.about__title {
  font-size: 18px;
  margin: 0;
}

.about__text {
  font-size: 16px;
  line-height: 24px;
}

.help__text {
  margin: 0 0 24px 0;
}

.help__button {
  border: none;
  border-radius: 3px;
  min-height: 39px;
  max-width: 130px;
  padding: 10px 20px;
  margin-right: 15px;
  cursor: pointer;
  background-color: #48538b;
  color: white;
  line-height: 1.5;
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
  transition: all 0.3s;
}

.help__button:hover {
  background-color: #3f218b;
}

.help__link {
  color: white;
  text-decoration: none;
}

.settings__form {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap:30px;
  box-sizing: border-box;
  




align-items: end
}
.settings__input-label {
  display: flex;
  flex-direction: column;
  font-weight: 700;



}
.settings__input {
  padding: 6px 12px;
  margin-top: 6px;
  height: 38px;
  font-size: 12px;
  box-sizing: border-box;
  background: #e9e9eb;
  color: #1b1a24;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 1.42857;
  box-shadow: none;
  transition: all .4s cubic-bezier(.165,.775,.43,1.005);
  outline:#e4003c;
}
.settings__connect-btn {
  border: none;
  border-radius: 3px;
  height: 39px;
  max-width: 130px;
  padding: 10px 20px;
  margin-right: 15px;
  cursor: pointer;
  background-color: #48538b;
  color: white;
  line-height: 1.5;
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
  transition: all 0.3s;

}
